#navbar{
  padding: 13px 0px 15px 0px !important;
  background-color: indigo;
}


/* Post Section */
.c-t{
  padding: 0rem 0rem;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.postTop{
  /* background-image: url("../../../assets/images/bg/02.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  background-position: right;
  /* padding: 4rem; */
  margin-top: 6rem;

}
.postTop #det{
  font-family: 'Domine',serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.postTop #det span{
  font-weight:bolder;
  padding:0rem .8rem;
  text-transform: uppercase;
}
#postTitle{
  font-family: 'Barlow Semi Condensed',sans-serif;
  max-width: 1000px;
  margin-bottom: .6rem;
  font-size: 2.5rem;
  /* -webkit-text-stroke: 1px white; */
  font-weight: bolder;
  text-transform: capitalize;
}
#readTime{
  float: right;
}

/* Author Section */
.authorCred{
  align-items: center;
  max-width: 1000px;
  margin: 1rem 0rem;
 display: grid;
 grid-template-columns: 3fr  8fr;
}

.aboutAuthor{
  padding: .6rem;
  /* color: white; */
  font-weight: 700;
  text-align: center;
}
.aboutAuthor span{
  text-transform: uppercase;
  display:block;
  -webkit-text-stroke: .3px lime;
}
.authorPic{
  /* border: 2px solid rgb(45, 169, 207); */
  border-radius: 125px;
  width:130px;
  height:130px;
}
.postBody, .postText{
  font-size: 1.7rem;
  margin: auto;
  max-width: 1400px;
  padding: 1rem .4rem 1rem 2.5rem;
  font-family: sans sans-serif;
  /*letter-spacing: 1px;*/
}
.postBody img{
    box-shadow: 0px 0px 2.2px 1.5px grey;
    margin-bottom: 1rem;
    display: flex;
    justify-content:center;
}
.postEnd{
  max-width: 1400px;
  padding: 0rem 2rem;
  margin: auto;
  text-align: right;
}
.postEnd a{
  padding: .5rem 3rem;
}

/* Related Posts */
.container{
  /* margin-right: 6rem; */
  padding: 0rem 1.3rem;
}
.blogsContainer{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 280px;
  grid-row-gap: 20px;
}
.bloglinks{
  text-align: right;
}
.relatedPostsTags{
  color: white;
  font-weight: bolder;
  display: inline-block;
  padding: 3px 20px;
  margin-bottom: 10px;
}
.Blogs{
  background-color: #eee;
  padding: 1rem;
}
.postBody img{
      max-width: 95%;
}

@media (max-width: 991.98px) {
  .blogsContainer{
    grid-column-gap: 80px;
  }
  .postBody img{
        width: 95%;
  }
}

@media (max-width: 767px){
    .postBody{
        padding:.6rem 0rem;
        font-size: 1.1rem;
    }
    .container{
      margin-right: auto;
    }

   .authorCred{
     grid-template-columns: 3fr 9fr;
   }
}
@media (max-width: 575.98px) {
    #postTitle{
        font-size:2.2rem;
    }
  .blogsContainer{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .aboutAuthor p{
    font-size: .9rem
  }
}
@media (max-width: 350px) {
  .authorCred{
    margin: 1rem 0px;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    grid-row-gap: 1rem;
  }
  .postTop #det{
    grid-template-columns: 1fr;
  }
  .postTop #det span{
    padding: .7rem;
  }
}
