body{
  background-color:#ddd;
  font-family: 'Domine',serif;
}
.big{
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 8fr 4fr;
}
.sidebar{
  padding: 2rem 1rem;
  margin:0;

}
.sidebar .sp{
  position: fixed;
  margin-right: .6rem;
  margin-left: -20px;
  min-width: 100px;
  padding: 0;
  transition: all .2s ease-in-out 1s;
}
nav{
  position: relative;
}
.contents{
  font-family: sans-serif;
  background-color: white;
  padding: .6rem;
  border-radius: 5px;

}
.contents input{
  display: none;
}
.contents ul{
  display: block;
  margin-top: 1rem;
}
.contents ul li{
  margin: .5rem;
}
.contents ul li ul{
  display: block;
}
.contents #bars:checked ~ ul{
  display: none;
}
.contents label{
  text-transform: uppercase;
  font-weight: 1000;
  text-align: center;
}
.contents .fa{
  float: right;
  font-size: 1.5rem;
}
.contents label:hover, .contents .fa:hover{
  cursor: pointer;
}
h2, h3{
  font-family: 'Barlow Semi Condensed',sans-serif;
  font-weight: 700;
}
h2{
  font-size: 1.5rem;
}
.breadcrumb{
  font-family: 'Barlow Semi Condensed',sans-serif;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  background-color: #ddd;
  display: inline-block;
  border-radius: 5px;
}
.breadcrumb ul{
  margin-left: -2.1rem;
  text-decoration: none;
  list-style:none;
  margin-bottom: 0;
}
.breadcrumb ul li{
  display: inline;
  text-align: left;
}
.breadcrumb ul li+li::before{
  font-size: 1.2rem;
  color: black;
  content: "\00BB";
}
.breadcrumb a:hover{
  color: blue;
}
.post{
  margin:auto;
  max-width: 1000px;
  background-color:#fff;
  padding: 2.5rem;
  border-radius: 5px;
}
.fwrapper{
  padding: 2rem;
}
#navbar{
  padding: 13px 0px 1px 0px !important;
  background-color: indigo;
}
hr{
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
  border: 1.5px solid;
}
/* Post Section */
.c-t{
  padding: 0rem 0rem;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postTop #det{
  /* max-width: 700px; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.postTop #det span, #cct{
  font-weight:bolder;
  padding:0rem .8rem;
  text-transform: uppercase;
}
#postTitle{
  font-family: 'Barlow Semi Condensed',sans-serif;
  margin-bottom: .6rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
}

/* Author Section */
.author, .comments, .footAds{
  margin-top: .6rem;
}
.authorCred{
  align-items: center;
  margin: 1rem 0rem;
 display: grid;
 grid-template-columns: 3fr  8fr;
}
.authorCred div:nth-child(1){
  text-align: center;
}
.aboutAuthor{
  padding: .6rem;
  /* color: white; */
  font-weight: 700;
  /* text-align: center; */
}
.aboutAuthor span{
  text-transform: uppercase;
  display:block;
  -webkit-text-stroke: .3px lime;
}
.authorPic{
  /* border: 2px solid rgb(45, 169, 207); */
  text-align: center;
  /* border-radius: 125px; */
  width:130px;
  height:130px;
}
.postBody, .postText{
  font-size: 1rem;
  margin: auto;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, Arial;
}
.postBody img{
    box-shadow: 0px 0px 2.2px 1.5px grey;
}
.postEnd{
  max-width: 1400px;
  padding: 0rem 2rem;
  margin: auto;
  text-align: right;
}
.postEnd a{
  padding: .5rem 3rem;
}

.blogsContainer{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 280px;
  grid-row-gap: 20px;
}
.bloglinks{
  text-align: right;
}
.relatedPostsTags{
  color: white;
  font-weight: bolder;
  display: inline-block;
  padding: 3px 20px;
  margin-bottom: 10px;
}
.Blogs{
  background-color: #eee;
  padding: 1rem;
}
.postBody img{
      max-width: 95%;
}
@media (max-width: 991.98px) {
  .blogsContainer{
    grid-column-gap: 80px;
  }
  .postBody img{
        width: 95%;
  }
  .contents ul{
    display: none;
  }
  .contents{

    border: 1px solid indigo;
  }
  .abs{
    max-height: 97vh;
    max-width: 97vw;
    overflow: scroll;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
  }
  .contents #bars:checked ~ ul{
    display:  block;
  }
  .sidebar .sp{
    margin-left: 0px;
  }
  .sidebar{
    display: none;
  }
  .big{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px){
  .fwrapper{
    padding: 1rem;
  }
  #cct{
    float: right;
  }
  .c-t{
    margin-left: 0;
  }
  .authorCred{
    margin: 1rem 0rem;
  }
    .postBody{
        padding:.6rem 0rem;
        font-size: 1.1rem;
    }
    .container{
      margin-right: auto;
    }

   .authorCred{
     grid-template-columns: 3fr 9fr;
   }
}
@media (max-width: 575.98px) {
  .breadcrumb{
    padding: .5rem 1rem;
  }
  .fwrapper{
    padding: .6rem;
  }
  .post{
    margin-bottom: 1rem;
    padding: 1rem;
  }

    #postTitle{
        font-size:2rem;
        text-align: center;
        margin: 0;
    }
  .blogsContainer{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {

  .comments, .footAds{
    margin-top: 0;
    margin-bottom: 1rem;
  }
}


@media (max-width: 400px) {
  .aboutAuthor p{
    font-size: .9rem
  }
}
@media (max-width: 350px) {

  .authorCred{
    margin: 1rem 0px;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    grid-row-gap: 1rem;
  }
  .postTop #det{
    grid-template-columns: 1fr;
  }
  .postTop #det span{
    padding: .7rem;
  }
  .abs{
    max-width: 90%;
  }
}
@media (max-width:310px) {
}
