body{
  background-color:#ddd;
  font-family: 'Domine',serif;
}

.post{
  max-width: 1000px;
  background-color:#fff;
  padding: 2.5rem;
  margin: 7rem auto 2.5rem auto;
  border-radius: 10px;
}
.comments, .footAds{
  margin-top: .9rem;
}
.fwrapper{
  padding: 0rem 2rem;
}
#navbar{
  padding: 13px 0px 1px 0px !important;
  background-color: indigo;
}
hr{
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
  border: 1.5px solid;
}
/* Post Section */
.c-t{
  padding: 0rem 0rem;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postTop #det{
  /* max-width: 700px; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.postTop #det span{
  font-weight:bolder;
  padding:0rem .8rem;
  text-transform: uppercase;
}
#postTitle{
  font-family: 'Barlow Semi Condensed',sans-serif;
  margin-bottom: .6rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
}
#readTime{
  float: right;
}

/* Author Section */
.authorCred{
  align-items: center;
  margin: 1rem 0rem;
 display: grid;
 grid-template-columns: 3fr  8fr;
}
.authorCred div:nth-child(1){
  text-align: center;
}
.aboutAuthor{
  padding: .6rem;
  /* color: white; */
  font-weight: 700;
  /* text-align: center; */
}
.aboutAuthor span{
  text-transform: uppercase;
  display:block;
  -webkit-text-stroke: .3px lime;
}
.authorPic{
  /* border: 2px solid rgb(45, 169, 207); */
  text-align: center;
  /* border-radius: 125px; */
  width:130px;
  height:130px;
}
.postBody, .postText{
  font-size: 1.7rem;
  margin: auto;
  font-family: 'Domine',serif;
}
.postBody img{
    box-shadow: 0px 0px 2.2px 1.5px grey;
}
.postEnd{
  max-width: 1400px;
  padding: 0rem 2rem;
  margin: auto;
  text-align: right;
}
.postEnd a{
  padding: .5rem 3rem;
}

.blogsContainer{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 280px;
  grid-row-gap: 20px;
}
.bloglinks{
  text-align: right;
}
.relatedPostsTags{
  color: white;
  font-weight: bolder;
  display: inline-block;
  padding: 3px 20px;
  margin-bottom: 10px;
}
.Blogs{
  background-color: #eee;
  padding: 1rem;
}
.postBody img{
      max-width: 95%;
}

@media (max-width: 991.98px) {
  .post{
    margin-top: 6rem;
  }
  .comments, .footAds{
    margin-top: 2rem;
  }
  .blogsContainer{
    grid-column-gap: 80px;
  }
  .postBody img{
        width: 95%;
  }
}

@media (max-width: 767px){
  .c-t{
    margin-left: 0;
  }
  .authorCred{
    margin: 1rem 0rem;
  }
    .postBody{
        padding:.6rem 0rem;
        font-size: 1.1rem;
    }
    .container{
      margin-right: auto;
    }

   .authorCred{
     grid-template-columns: 3fr 9fr;
   }
}
@media (max-width: 575.98px) {
  .post{
      padding: 1rem;
  }
    #postTitle{
        font-size:2rem;
        text-align: center;
        margin: 0;
    }
  .blogsContainer{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .fwrapper{
    padding: .8rem;
  }
  .post{
    margin-top: 4rem;
  }
}
@media (max-width: 400px) {
  .aboutAuthor p{
    font-size: .9rem
  }
}
@media (max-width: 350px) {
  .authorCred{
    margin: 1rem 0px;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    grid-row-gap: 1rem;
  }
  .postTop #det{
    grid-template-columns: 1fr;
  }
  .postTop #det span{
    padding: .7rem;
  }
}
