/* - :: Root */
:root {
  --thBlue: #0635c9;
  --typeColor: #111111;
  --pColor: #444;
  --thYellow : #f9b851;
  --thBlack  : #161c2d;
  --thGray2  : #444444;
  --thWhite2 : #e3e9ed;
  --thWhite3 : #a5b8c5;
}

/* -- :: Default Elements Properties */
.container{
  max-width: 1250px;
  padding: 0rem 2rem;
  margin: auto;
}
body {
  position: relative;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
  transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
  scroll-behavior: smooth;
  font-family: 'Domine',serif;
    background-color: #bdc1c6;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* -- :: Navbar */

/* top bar */
nav .top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

/* news */
nav .top-bar .news {
  font-size: 14px;
}

nav .top-bar .news span.stat {
  font-size: 12px;
  color: #fff;
  background: Green;
  padding: 5px 7px;
  border-radius: 4px;
  margin-right: 5px;
}

nav .top-bar .news a {
  position: relative;
  color: var(--pColor);
  font-weight: 600;
  display: inline-block;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .top-bar .news a::after {
  position: absolute;
  content: '\f105';
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav .top-bar .news a:hover {
  color: var(--thBlue);
}

/* links */
nav .top-bar ul.links li:not(:last-child) {
  margin-right: 20px;
}

nav .top-bar ul.links li a {
  font-size: 14px;
  color: var(--pColor);
  font-weight: 600;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .top-bar ul.links li a:hover {
  color: var(--thBlue);
}

/* -- :: Navbar :: -- */
nav {
  z-index: 999;
  width: 100%;
padding: 60px 0px 13px 0px !important;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

nav .navbar-brand img {
  height: 30px;
  /* width: 170px; */
}

/* nav item */
nav li.nav-item > a.nav-link {
  color: #fff;
  font-weight: 1000;
  -webkit-transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item > a.nav-link.dropdown-toggle::after {
  position: relative;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  width: auto;
  height: auto;
  margin-left: 7px;
  vertical-align: middle;
  -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item.show > a.nav-link.dropdown-toggle::after {
  content: "\f106";
}

nav li.nav-item:not(.user-item) > a.nav-link:hover,
nav li.nav-item.show > a.nav-link {
  opacity: .8;
}

.nav-item a{
  margin-left: 40px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 30px;
  border: 0px solid black;
  width: 140px;
  text-align: center;
}
#Newsletter, #ContactUs{
  width: 160px;
}
.nav-item .nav-link:hover{
  color: red;
}

/* scrolled class */
nav.scrolled,
nav.custom {
  overflow: hidden;
  background:indigo;
  padding: 12px 0 10px 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
/* -- :: Footer */

footer {
  background: var(--thBlack);
}
footer .n-l {
  padding: 50px 0;
  border-bottom: 1px solid var(--thGray2);
}
footer .n-2{
  padding-top: 15px;
  border-top: 1px solid var(--thGray2);
}
footer .n-l h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .n-l form {
  max-width: 720px;
}
footer .n-l form input {
  height: 50px;
  border: 1px solid var(--thWhite2);
  padding: 0 30px;
  outline: none;
  border-radius: 50px 0 0 50px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
footer .n-l form input::-webkit-input-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input::-moz-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input:-ms-input-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input::-ms-input-placeholder {
  color: var(--thWhite3);
  font-weight: lighter;
}
footer .n-l form input::placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input:focus {
  background: rgba(47, 85, 212, .05);
}
footer .n-l form button {
  min-width: 140px;
  height: 50px;
  border: 1px solid var(--thWhite2);
  border-radius: 0 50px 50px 0;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
footer .n-l form button:hover,footer .n-l form button:focus{
  outline: 0;
  color: var(--thBlue);
}
footer .links {
  padding: 50px 0;
}
footer .links ul li:not(:last-child) {
  margin-bottom: 5px;
}
footer .links ul li.title {
  color: #fff;
  font-size: 19px;
  font-weight: bolder;
}
footer .row .AboutUs .content .title{
  padding-top: 50px;
  color: #fff;
  letter-spacing: 2px;
  font-family:sans-serif;
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
footer .row .AboutUs .content p{
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;

}
footer .links ul li a{
  font-weight: bold;
  font-size: 15px;
  color: var(--thWhite3);
}
footer .links ul li a:hover {
  color: skyblue;
  text-decoration: underline !important;
}
footer .c-r {
  padding-bottom: 20px;
  padding-top: 10px;
}
footer .c-r p {
  font-size: 14px;
  color: var(--thWhite3);
  font-weight: bold;
}
footer .c-r a {
  color: #fff;
  font-weight: bold;
}
footer .c-r a:hover {
  color: var(--thYellow);
}


.wrapper ul li {
width: 50px;
height: 50px;
line-height: 50px;
margin: 0 10px;
text-align: center;
cursor: pointer;
justify-content: center;
border-radius: 50%;
border: 1px double #D8E2DC;
float: left;
transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
font-size: 1.35rem;
color: #D8E2DC;
transition: all 0.4s ease;
}
.wrapper ul li .facebook{
  margin-left: -10px;
}
/*facebook*/
.wrapper ul li:hover.facebook {
border: 2px solid #3b5998;
box-shadow: 0 0 15px #3b5998;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
color: #3b5998;
text-shadow: 0 0 15px #3b5998;
transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter, .wrapper ul li:hover.linkedin {
border: 2px solid #00aced;
box-shadow: 0 0 15px #00aced;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter, .wrapper ul li:hover .fa-linkedin  {
color: #00aced;
text-shadow: 0 0 15px #00aced;
transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
border: 2px solid #4dc247;
box-shadow: 0 0 15px #4dc247;
transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
color: #4dc247;
text-shadow: 0 0 15px #4dc247;
transition: all 0.5s ease;
}

/* media queries */

/* youtube link */
.youtube{
position: fixed;
bottom: 10px;
right: 10px;
width: 160px;
text-align: center;
padding: 15px 10px;
background: #bb0000;
border-radius: 5px;
}

.youtube a{
text-decoration: none;
color: #fff;
text-transform: capitalize;
letter-spacing: 1px;
}


/* -- :: Media Query for different Screens*/
@media (max-width: 1189px){
}
@media (max-width: 991.98px) {
  /* -- :: Navbar */
  nav {
    background: transparent;
    padding: 12px 0 12px 0 !important;
    box-shadow: none;
  }
  .nav-item .nav-link{
    margin-left: 0px;
    letter-spacing: 2px;
  }
  .nav-first-link{
    margin-top: -30px;
  }
  .nav-item .nav-link:hover{
    color: red;
  }
  nav::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background: indigo;
    z-index: -1;
  }

  nav .navbar-brand img {
    height: 26px;
  }

  nav.scrolled,
  nav.custom {
    background: transparent;
    padding: 12px 0 12px 0 !important;
    box-shadow: none;
  }

  nav li.nav-item > a.nav-link,
  nav li.nav-item.user-item > a.nav-link {

    padding-bottom: 20px;
  }
  nav li.nav-item > a.nav-link.dropdown-toggle {
    position: relative;
  }
  nav li.nav-item > a.nav-link.dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: var(--thBorderColor);
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    float: right;
  }
  nav li.nav-item > a.nav-link,
  nav li.nav-item > .dropdown-menu > a.dropdown-item,
  nav li.nav-item.user-item > a.nav-link {
    color: white;
    font-size: 22px;
    font-weight: 1000;
  }
  .navbar-collapse {
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
  }
  nav .navbar-nav {
    width: 100%;
    background: indigo;
    height:100%;
    align-items: center;
    justify-content: center;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding: 0 15px;
  }
  /* Toggle Nav Button */
  nav .navbar-toggler {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 17px;
    vertical-align: middle;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: right;
    outline: none !important;
    text-decoration: none !important;
    font-weight: bold;
    background: transparent;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  nav .navbar-toggler span {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  nav .navbar-toggler.collapsed span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: gray;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  nav .navbar-toggler.collapsed span:nth-child(1) {
    -webkit-animation: span-first-off 0.5s ease-in-out;
            animation: span-first-off 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 40%;
  }
  nav .navbar-toggler.collapsed span:nth-child(2) {
    -webkit-animation: span-second-off 0.5s ease-in-out;
            animation: span-second-off 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .navbar-toggler.collapsed span:nth-child(3) {
    -webkit-animation: span-third-off 0.5s ease-in-out;
            animation: span-third-off 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 60%;
  }
  nav .navbar-toggler:hover span::before {
    width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  nav .navbar-toggler span:nth-child(1) {
    -webkit-animation: span-first-on 0.5s ease-in-out;
            animation: span-first-on 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
  }
  nav .navbar-toggler span:nth-child(2) {
    -webkit-animation: span-second-on 0.5s ease-in-out;
            animation: span-second-on 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav .navbar-toggler span:nth-child(3) {
    -webkit-animation: span-third-on 0.5s ease-in-out;
            animation: span-third-on 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
  }
  @-webkit-keyframes span-first-on {
    0% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  @keyframes span-first-on {
    0% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  @-webkit-keyframes span-first-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }
  }
  @keyframes span-first-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }
  }
  @-webkit-keyframes span-second-on {
    0% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }
  }
  @keyframes span-second-on {
    0% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }
  }
  @-webkit-keyframes span-second-off {
    0% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
  @keyframes span-second-off {
    0% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
  @-webkit-keyframes span-third-on {
    0% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  @keyframes span-third-on {
    0% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  @-webkit-keyframes span-third-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }
  }
  @keyframes span-third-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }
  }
@media (max-width: 767.98px){
  .wrapper ul li:first-child{
    margin-left: -20px;
  }
.wrapper{
    display: grid;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .nav-item .nav-link{
    margin-top: 20px;
    margin-left: 0px;
    letter-spacing: 2px;
  }
}
@media (max-width: 575.98px) {
  /* -- :: Navbar */
  nav .navbar-nav {
    max-width: 100%;
    overflow: auto;
    height: 100%;
  }
  .nav-item .nav-link{
    margin-top: 20px;
    margin-left: 0px;
    letter-spacing: 2px;
  }
  /* -- :: Footer */
}
@media (max-width: 440px) {
}
