/* - :: Root */
:root {
  --thBlue: #0635c9;
  --typeColor: #111111;
  --pColor: #444;
  --thYellow : #f9b851;
  --thBlack  : #161c2d;
  --thGray2  : #444444;
  --thWhite2 : #e3e9ed;
  --thWhite3 : #a5b8c5;
}

/* -- :: Default Elements Properties */
.container{
  max-width: 1400px;
  padding: 0rem 2rem;
  margin: auto;
}
body {
  position: relative;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
  transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
  scroll-behavior: smooth;
  background-color: #fff;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* -- :: Navbar */

/* top bar */
nav .top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

/* news */
nav .top-bar .news {
  font-size: 14px;
}

nav .top-bar .news span.stat {
  font-size: 12px;
  color: #fff;
  background: Green;
  padding: 5px 7px;
  border-radius: 4px;
  margin-right: 5px;
}

nav .top-bar .news a {
  position: relative;
  color: var(--pColor);
  font-weight: 600;
  display: inline-block;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .top-bar .news a::after {
  position: absolute;
  content: '\f105';
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav .top-bar .news a:hover {
  color: var(--thBlue);
}

/* links */
nav .top-bar ul.links li:not(:last-child) {
  margin-right: 20px;
}

nav .top-bar ul.links li a {
  font-size: 14px;
  color: var(--pColor);
  font-weight: 600;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .top-bar ul.links li a:hover {
  color: var(--thBlue);
}

/* -- :: Navbar :: -- */
nav {
  position: fixed !important;
  z-index: 999;
  width: 100%;
  padding: 70px 0 15px 0 !important;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

nav .navbar-brand img {
  height: 30px;
}

/* nav item */
nav li.nav-item > a.nav-link {
  color: #fff;
  font-weight: 1000;
  -webkit-transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item > a.nav-link.dropdown-toggle::after {
  position: relative;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  width: auto;
  height: auto;
  margin-left: 7px;
  vertical-align: middle;
  -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item.show > a.nav-link.dropdown-toggle::after {
  content: "\f106";
}

nav li.nav-item:not(.user-item) > a.nav-link:hover,
nav li.nav-item.show > a.nav-link {
  opacity: .8;
}

.nav-item a{
  margin-left: 40px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 30px;
  border: 0px solid black;
  width: 140px;
  text-align: center;
}
#Newsletter{
  width: 160px;
}
.nav-item .nav-link:hover{
  color: red;
}

/* scrolled class */
nav.scrolled,
nav.custom {
  background:indigo;
  padding: 13px 0 15px 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
/* -- :: loading Spinner */
.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--typeColor);
  z-index: 99999;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.loading .main .lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.loading .main .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 20px solid;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: aqua transparent transparent transparent;
}
.loading .main .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.loading .main .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.loading .main .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
.loading .main .lds-ring div:nth-child(4) {
  -webkit-animation-delay: -0.52s;
          animation-delay: -0.52s;
}
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* -- :: Footer */

footer {
  background: var(--thBlack);
  margin-top:1rem;
}
footer .n-l {
  padding: 50px 0;
  border-bottom: 1px solid var(--thGray2);
}
footer .n-2{
  border-top: 1px solid var(--thGray2);
}
footer .n-l h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .n-l form {
  max-width: 720px;
}
footer .n-l form input {
  height: 50px;
  border: 1px solid var(--thWhite2);
  padding: 0 30px;
  outline: none;
  border-radius: 50px 0 0 50px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
footer .n-l form input::-webkit-input-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input::-moz-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input:-ms-input-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input::-ms-input-placeholder {
  color: var(--thWhite3);
  font-weight: lighter;
}
footer .n-l form input::placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input:focus {
  background: rgba(47, 85, 212, .05);
}
footer .n-l form button {
  min-width: 140px;
  height: 50px;
  border: 1px solid var(--thWhite2);
  border-radius: 0 50px 50px 0;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
footer .n-l form button:hover,footer .n-l form button:focus{
  outline: 0;
  color: var(--thBlue);
}
footer .links {
  padding: 50px 0;
}
footer .links ul li:not(:last-child) {
  margin-bottom: 5px;
}
footer .links ul li.title {
  color: #fff;
  font-size: 19px;
  font-weight: bolder;
}
footer .row .AboutUs .content .title{
  padding-top: 50px;
  color: #fff;
  letter-spacing: 2px;
  font-family:sans-serif;
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
footer .row .AboutUs .content p{
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;

}
footer .links ul li a{
  font-weight: bold;
  font-size: 15px;
  color: var(--thWhite3);
}
footer .links ul li a:hover {
  color: skyblue;
  text-decoration: underline !important;
}
footer .c-r {
  padding-bottom: 20px;
  padding-top: 20px;
}
footer .c-r p {
  font-size: 14px;
  color: var(--thWhite3);
  font-weight: bold;
}
footer .c-r a {
  color: #fff;
  font-weight: bold;
}
footer .c-r a:hover {
  color: var(--thYellow);
}
