/* -- :: Root */
:root {
  --thBlue: #0635c9;
--thDarBlue: #0027a7;
--thDarGreen: #6ebb4f;
--hoverColor: #f9fbfc;
--typeColor: #111111;
--pColor: #444;
--hotColor: #ff4546;
--darHotColor: #E83F40;
--thBorderColor: #e3e9ed;
--thDarBorderColor: #a5b8c5;
  --HEXCOLOR        : #0078FF;
  --thYellow        : #f9b851;
  --thYellow2       : #f8a218;
  --thGreen         : #69e781;
  --thRed           : #ff4546;
  --thRed2          : #e00001;
  --thBlack         : #161c2d;
  --thGray          : #828282;
  --thGray2         : #444444;
  --thWhite2        : #e3e9ed;
  --thWhite3        : #a5b8c5;
  /* Box Shadow */
--btn-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
/* SVG Colors */
--a: #031B4E;
--b: #C13D3D;
--c: #EBAA39;
--d: #5E8DA7;
--e: #d4e1f4;
}

/* --------------------------------- */

/* -- :: Default Elements Properties */
body {
  position: relative;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
  transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* -- :: Navbar */
/* top bar */
nav .top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

/* news */
nav .top-bar .news {
  font-size: 14px;
}

nav .top-bar .news span.stat {
  font-size: 12px;
  color: #fff;
  background: var(--thGreen);
  padding: 5px 7px;
  border-radius: 4px;
  margin-right: 5px;
}

nav .top-bar .news a {
  position: relative;
  color: var(--pColor);
  font-weight: 600;
  display: inline-block;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .top-bar .news a::after {
  position: absolute;
  content: '\f105';
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav .top-bar .news a:hover {
  color: var(--thBlue);
}

/* links */
nav .top-bar ul.links li:not(:last-child) {
  margin-right: 20px;
}

nav .top-bar ul.links li a {
  font-size: 14px;
  color: var(--pColor);
  font-weight: 600;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .top-bar ul.links li a:hover {
  color: var(--thBlue);
}

/* -- :: Navbar :: -- */
nav {
  background: transparent;
  position: fixed !important;
  z-index: 999;
  width: 100%;
  padding: 70px 0 15px 0 !important;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

nav .navbar-brand img {
  height: 30px;
}

/* nav item */
nav li.nav-item > a.nav-link {
  color: #fff;
  font-weight: 1000;
  -webkit-transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item > a.nav-link.dropdown-toggle::after {
  position: relative;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  width: auto;
  height: auto;
  margin-left: 7px;
  vertical-align: middle;
  -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item.show > a.nav-link.dropdown-toggle::after {
  content: "\f106";
}

nav li.nav-item:not(.user-item) > a.nav-link:hover,
nav li.nav-item.show > a.nav-link {
  opacity: .8;
}

.nav-item a{
  margin-left: 40px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 24px;
  border: 0px solid black;
  width: 140px;
  text-align: center;
}
#Newsletter{
  width: 160px;
}
.nav-item .nav-link:hover{
  box-shadow: 0 0 5px 1px black;
}
nav li.nav-item > .dropdown-menu {
  padding: 15px 0;
  min-width: 300px;
  top: 45px;
  left: 50%;
  border: 1px solid var(--thBorderColor);
  box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

nav li.nav-item > .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  width: 17px;
  height: 17px;
  -webkit-transform: translate(-50%, 0) rotate(-315deg);
          transform: translate(-50%, 0) rotate(-315deg);
  border-radius: 3px;
  background-color: white;
}

nav li.nav-item > .dropdown-menu > a.dropdown-item {
  padding: 10px 15px 10px 20px;
  font-size: 15px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
  color: #2c2f3e;
  background: #fff;
  overflow: hidden;
}

nav li.nav-item > .dropdown-menu > a.dropdown-item::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: var(--thBlue);
  -webkit-transition: width .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: width .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item > .dropdown-menu > a.dropdown-item img {
  margin-right: 15px;
  width: 30px;
}

nav li.nav-item > .dropdown-menu > a.dropdown-item span.name {
  font-size: 15px;
  font-weight: bold;
  color: #031b4e;
}

nav li.nav-item > .dropdown-menu > a.dropdown-item span.des {
  font-size: 13px;
  color: #898b96;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item > .dropdown-menu > a.dropdown-item:hover {
  background-color: #f6fafe;
}

nav li.nav-item > .dropdown-menu > a.dropdown-item:hover span.des {
  color: #031b4e
}

nav li.nav-item > .dropdown-menu > a.dropdown-item:hover::before {
  width: 5px;
}

/* user item */
nav li.nav-item.user-item > a.nav-link {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px 8px;
  -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li.nav-item.user-item > a.nav-link:hover {
  color: var(--thBlue);
  background: #fff;
}

/* scrolled class */
nav.scrolled,
nav.custom {
  background:var(--thBlack);
  padding: 55px 0 15px 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}



/* -- :: loading Spinner */
.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--typeColor);
  z-index: 99999;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.loading .main .lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.loading .main .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 20px solid;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: aqua transparent transparent transparent;
}

.loading .main .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.loading .main .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loading .main .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
.loading .main .lds-ring div:nth-child(4) {
  -webkit-animation-delay: -0.52s;
          animation-delay: -0.52s;
}
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* -- :: Footer */
footer {
  background: var(--thBlack);
  margin:0;
}
footer .n-l {
  padding: 50px 0;
  border-bottom: 1px solid var(--thGray2);
}
footer .n-2{
  border-top: 1px solid var(--thGray2);
}
footer .n-l h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .n-l form {
  max-width: 720px;
}
footer .n-l form input {
  height: 50px;
  border: 1px solid var(--thWhite2);
  padding: 0 30px;
  outline: none;
  border-radius: 50px 0 0 50px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
footer .n-l form input::-webkit-input-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input::-moz-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input:-ms-input-placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input::-ms-input-placeholder {
  color: var(--thWhite3);
  font-weight: lighter;
}
footer .n-l form input::placeholder {
  color: var(--thWhite3);
  font-weight: bold;
}
footer .n-l form input:focus {
  background: rgba(47, 85, 212, .05);
}
footer .n-l form button {
  min-width: 140px;
  height: 50px;
  border: 1px solid var(--thWhite2);
  border-radius: 0 50px 50px 0;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
footer .n-l form button:hover,footer .n-l form button:focus{
  outline: 0;
  color: var(--thBlue);
}
footer .links {
  padding: 50px 0;
}
footer .links ul li:not(:last-child) {
  margin-bottom: 5px;
}
footer .links ul li.title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
footer .row .AboutUs .content .title{
  color: #fff;
  letter-spacing: 2px;
  font-family:sans-serif;
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
}
footer .row .AboutUs .content p{
  color: white;
  font-weight: bold;
  font-family: serif;
}
footer .links ul li a{
  font-weight: bold;
  font-size: 13px;
  color: var(--thWhite3);
}
footer .links ul li a:hover {
  color: var(--thYellow);
  text-decoration: underline !important;
}
footer .c-r {
  padding-bottom: 20px;
  padding-top: 20px;
}
footer .c-r p {
  font-size: 14px;
  color: var(--thWhite3);
  font-weight: bold;
}
footer .c-r a {
  color: #fff;
  font-weight: bold;
}
footer .c-r a:hover {
  color: var(--thYellow);
}
.AboutUs{
  /* border:1px solid white; */
  padding-top: 50px;
  padding-left: 80px;
}
.ExtraMargin{
  margin-left: 50px;
}

/* --------------------------------- */

/* --------------------------------- */

/* -- :: Media Query */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* -- :: Navbar */
  nav {
    background: transparent;
    padding: 12px 0 12px 0 !important;
    box-shadow: none;
  }
  .nav-item .nav-link{
    margin-top: 20px;
    margin-left: 0px;
    letter-spacing: 2px;
  }
  .nav-item .nav-link:hover{
    box-shadow: 0 0 5px 1px black;
  }
  nav::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid var(--thBorderColor);
    z-index: -1;
  }

  nav .navbar-brand img {
    height: 26px;
  }

  nav.scrolled,
  nav.custom {
    background: transparent;
    padding: 12px 0 12px 0 !important;
    box-shadow: none;
  }

  nav li.nav-item > a.nav-link,
  nav li.nav-item.user-item > a.nav-link {

    padding: 12px 0;
  }

  nav li.nav-item > a.nav-link.dropdown-toggle {
    position: relative;
  }

  nav li.nav-item > a.nav-link.dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: var(--thBorderColor);
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    float: right;
  }

  nav li.nav-item > a.nav-link,
  nav li.nav-item > .dropdown-menu > a.dropdown-item,
  nav li.nav-item.user-item > a.nav-link {
    color: var(--typeColor);
    font-size: 18px;
    font-weight: 1000;
  }

  nav li.nav-item > .dropdown-menu {
    min-width: auto;
    top: 0;
    left: auto;
    -webkit-transform: none;
            transform: none;
    box-shadow: none;
    border: 0;
    padding: 5px 0 5px 10px;
  }

  nav li.nav-item > .dropdown-menu::before {
    display: none;
  }

  nav li.nav-item > .dropdown-menu > a.dropdown-item {
    padding: 8px 0;
  }

  nav li.nav-item > .dropdown-menu > a.dropdown-item::before {
    display: none;
  }

  nav li.nav-item > .dropdown-menu > a.dropdown-item:hover {
    background: #fff;
  }

  nav li.nav-item > .dropdown-menu > a.dropdown-item span.name {
    font-size: 12px;
    color: rgba(3, 27, 78, 0.7);
    font-weight: 1000;
  }

  nav li.nav-item > .dropdown-menu > a.dropdown-item:hover span.name {
    color: var(--typeColor);
  }

  nav li.nav-item.user-item > a.nav-link {
    /* border-width: 0 0 1px; */
    border-radius: 0;
    padding: 8px 0;
  }

  .navbar-collapse {
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
  }

  nav .navbar-nav {
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 15px;
    background: #fff;
    max-width: 690px;
    border-radius: 20px;
    height:auto;
    align-items: center;
    justify-content: center;
  }
.last-nav-link{
  margin-bottom: 30px;
}
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding: 0 15px;
  }

  /* Toggle Nav Button */
  nav .navbar-toggler {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 17px;
    vertical-align: middle;
    padding: 0;
    /* border: 1px solid #e9eaee; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: right;
    outline: none !important;
    text-decoration: none !important;
    font-weight: bold;
    background: transparent;
    /* background: #f3f5f9; */
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }

  nav .navbar-toggler span {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: #284254;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  nav .navbar-toggler.collapsed span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: gray;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  nav .navbar-toggler.collapsed span:nth-child(1) {
    -webkit-animation: span-first-off 0.5s ease-in-out;
            animation: span-first-off 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 40%;
  }

  nav .navbar-toggler.collapsed span:nth-child(2) {
    -webkit-animation: span-second-off 0.5s ease-in-out;
            animation: span-second-off 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  nav .navbar-toggler.collapsed span:nth-child(3) {
    -webkit-animation: span-third-off 0.5s ease-in-out;
            animation: span-third-off 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 60%;
  }

  nav .navbar-toggler:hover span::before {
    width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  nav .navbar-toggler span:nth-child(1) {
    -webkit-animation: span-first-on 0.5s ease-in-out;
            animation: span-first-on 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
  }

  nav .navbar-toggler span:nth-child(2) {
    -webkit-animation: span-second-on 0.5s ease-in-out;
            animation: span-second-on 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  nav .navbar-toggler span:nth-child(3) {
    -webkit-animation: span-third-on 0.5s ease-in-out;
            animation: span-third-on 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
  }

  @-webkit-keyframes span-first-on {
    0% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @keyframes span-first-on {
    0% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @-webkit-keyframes span-first-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }
  }

  @keyframes span-first-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, -300%);
              transform: translate(-50%, -300%);
    }
  }

  @-webkit-keyframes span-second-on {
    0% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }
  }

  @keyframes span-second-on {
    0% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }
  }

  @-webkit-keyframes span-second-off {
    0% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }

  @keyframes span-second-off {
    0% {
      -webkit-transform: translate(-150%, -50%) scale(0);
              transform: translate(-150%, -50%) scale(0);
    }

    25% {
      background: gray;
    }

    50% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }

    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }

  @-webkit-keyframes span-third-on {
    0% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  @keyframes span-third-on {
    0% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }

    30% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    100% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  @-webkit-keyframes span-third-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }
  }

  @keyframes span-third-off {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
    }
  }


/* --------------------------------- */

@media (max-width: 767.98px) {

  /* -- :: Navbar */
  nav .navbar-nav {
    max-width: 510px;
  }
  /* -- :: Footer */
  footer .n-l h2 {
    font-size: 22px;
  }
  footer .n-l form {
    max-width: 100%;
  }
  footer .n-l form input,
  footer .n-l form button {
    height: 44px;
    font-size: 16px;
    line-height: 22px !important;
    font-weight: bold;
  }
  footer .n-l form button {
    min-width: 130px;
  }
  .nav-item .nav-link{
    margin-top: 20px;
    margin-left: 0px;
    letter-spacing: 2px;

  }
  .nav-item .nav-link:hover{
    box-shadow: 0 0 5px 1px black;
  }
}
@media (max-width: 575.98px) {

  /* -- :: Navbar */
  nav .navbar-nav {
    max-width: 100%;
    overflow: auto;
    height: calc(100% - 100px);
  }
  .ExtraMargin{
    margin-left: 34px;
  }
  .nav-item .nav-link{
    margin-top: 20px;
    margin-left: 0px;
    letter-spacing: 2px;
  }
  .nav-item .nav-link:hover{
    box-shadow: 0 0 5px 1px black;
  }
  /* -- :: Footer */
  footer .n-l form input,
  footer .n-l form button {
    border-radius: 50px;
  }
}
