
/* Main Body */
#HeroSectionRow{
  margin-bottom: 30px;
  margin-top: 170px;
  height: auto;
}
.HeroSection{
  height: 100%;
}

/* Qoute Section */

.dailyQoutes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0px 30px;
}
#qoute, #qouteHeading{
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}
#qouteHeading{
  align-content: center;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 40px;
  font-family:cursive;
  display: inline-block;
}
#qoute{
    text-transform: capitalize;
    font-family:monospace;
    font-size: 25px;
}
#qouteWriter{
  margin-top: 25px;
  font-family:sans;
  font-style: italic;
  color: #eee;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  margin-left: 350px;
  display: inline;
}
.HeroBody{
  border: 0.1px solid;
  background-image: url("../../../assets/images/bg/4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:lighten;
  background-color: black;
  height: auto;
}

/* Subscribe Form Section */
.subscribeForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px double white;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-bottom: 20px;
  width: auto;
}
.subscribeForm p{
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;

}
#subsName, #subsEmail{
  width: 90%;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: lime;
  font-weight: bold;

}
#subsName:hover, #subsEmail:hover, #subsName:focus, #subsEmail:focus{
  outline: 0;
  border-color: lime;
}
#subsSubmit{
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  padding: 4px 21px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: black;
}
#subsSubmit:hover, #subsSubmit:focus{
  background-color: green;
  outline: 0;
}
#statusMessage{
  background-color: red;

  font-size: 12px;
  margin:1rem 0;
  max-width: 300px;
  flex-direction: column;
  text-align: center;
  padding: 5px 15px;
  border-radius: 2px;
}
.statusWarning{
  background-color: red;
  border: 1px solid red;
}
.statusSucess{
  background-color: green;
  border: 1px solid green;
}


/* visitBlogs button */
.visitBlogs{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.visitBlogs a{
  border: 1px solid white;
  font-size: 23px;
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  padding: 2px 20px;
  border-radius: 20px;
  margin-left: 20px;
}
.visitBlogs a::after{
  position: relative;
  content: '\f138';
  font-weight: bolder;
  color: white;
  right: -8px;
  top: 36%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 23px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.visitBlogs a:hover::after, .visitBlogs a:hover{
  text-decoration: none;
  background-color: indigo;
}
/* Tags Section */
.tagsSection{
    margin-bottom: 20px;
    padding:0px 150px;
}
.tags a, .tagsSection span{
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.tagsSection span{
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 3px;
}
.tags{
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: center;
}
.tags a{
  border: 4px double white;
  border-radius:20px;
  padding:2px 15px;
  font-size: 20px;
  margin: 0px 7px 14px 7px;
}

.tags a:hover{
    cursor: pointer;
    text-decoration: none;
    color: orange;
    border-color: orange;
}


/* Top Subscribe Bar */
.topSubscribe{
  display: flex;
  justify-content: center;
  height: auto;
  margin: 10px 0px 30px 0px;
}

/* Full Bogs Section */
.whatToDoTag{
    font-family:verdana;
}
.whatHelp{
  max-width: 1400px;
  margin: 10px auto;
}
.whatHelp {
  margin: 10px auto;
  text-align: center;
  font-size: 2rem;;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
}
.whatHelpTitle{
  font-family: verdana;
  display: inline-block;
  padding: 1px 35px;
}
.whatToDo{
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 4fr 2fr;
}
.tabs{
  color: #111;
  box-shadow: 0px 0px 4px 2px grey;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  padding: 2.5rem 1rem 3rem 1rem;
  margin: 30px 0;
  /* border: 1px solid black; */
}
.tabs:hover{
  transition:all .3s ease;
  cursor: pointer;
  box-shadow: 0px 0px 1px .8px grey;
}
.tabs::before{
  margin-bottom: 20px;
  font-weight: bolder;
  display:block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 70px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#TAB1{
  color: rgb(16, 116, 116);
}
#TAB1::before{
  content: '\f197';
}
#TAB2{
  color: rgb(136, 65, 202);
}
#TAB2::before{
  content: '\f201';
}
#TAB3{
  color: rgb(223, 68, 11);
}
#TAB3::before{
  content: '\f128';
}
#TAB4{
color: rgb(42, 163, 38);
}
#TAB4::before{
  content: '\f156';
}

/* Author Detail Section */
#blogAuthor{
  margin: 30px auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 3rem;
}
#aboutMe{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bolder;
  color: red;
}
.authorCred{
  flex-direction: column;
  display: flex;
  box-shadow: 0px 0px 4px 2px grey;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
#authorDetail p{
  font-size: 1.3rem;
  text-align: center;
  font-weight: bolder;
}
#contactMe a{
  font-weight: bolder;
  margin-top: 1rem;
}
#contactMe span{
  text-transform: uppercase;
  font-weight: bolder;
  color: indigo;
  margin-bottom: 1rem;
}
#contactMe p i{
  color: '#01acee';
  margin-left: 1rem;
}
.mailIcon{
    color:indigo;
}
.whatsappIcon{
    color:green;
}
.youTubeIcon{
    color:#FF0000;
}
#authorName{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;
  margin-top: 5px;
}
#authorPhoto{

}
#authorDesign{
  margin: 10px auto;
  display: block;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: green;
}
.authorPic{
  border: 2px solid rgb(45, 169, 207);
  border-radius: 125px;
  width:200px;
  height:200px;
}
/* Navbar */
#Home{
  color: red;
}


/* Popular Posts */
.latestPostsTags{
  display: inline-block;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  padding: 2.5px 40px;
  color: white;
  background-color: orange;
}
.blogsContainer{
  position: relative;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: auto;
}
.Blogs{
  display: grid;
  grid-template-rows: 1.5fr .4fr;
  font-weight: 600;
  font-size: 1.5rem;
}
.blogTitle, .bloglinks{
    box-shadow: 0px 0px 2px 2.5px grey;
}
.blogTitle{
  padding: 1rem 1rem .4rem 1rem;
}
.bloglinks{
  display:flex;
  flex-direction: row-reverse;
  margin-top:.6rem;
  padding: .3rem;
  padding-left: .4rem;
  font-size: 1rem;
}


/* FAQ Section */
.FAQsection h2{
  color: black;
  margin-bottom: 1.5rem;
}

.FAQ{
  max-width: 1000px;
  margin: 2rem 0rem;
}
.FAQS{
  margin-bottom: 1rem;
}
.FAQS:hover{
  cursor: pointer;
}
.questions{
  border-bottom: 2px solid grey;
  padding: .2rem 0rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}
.rotate::before{
  transform: rotateZ(49deg);
}
.questions::before{
  display: inline-block;
  content: "+";
  transition: rotate ease 1s;
  color:green;
  margin-right: .6rem;
  font-size:1.5rem;
}
.answers{
  font-size: 1.2rem;
  transition: visibility 4s;
  display: none;
  padding: .1rem 1rem .2rem 1rem;
}
