.Div404{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: orange;
  padding: 170px 0 140px 0;
}
.errorMessage span{
  font-weight: bolder;
  font-size: 2rem;
}
.redirectMessage{
  text-transform: full-width;
}
